

#login_html{ width:100%; height:100%; }
#login_bg{ width:100%; height:100%; background:url(../img/login_dl.jpg) no-repeat center; background-size:cover; overflow:hidden;}
*{ font-family:"Hiragino Sans...";}


.wrapper {
  margin-top: 5%;
  margin-bottom: 80px;
}

.form-signin {
  width: 380px;
  padding: 15px 35px 45px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  float:right;
  margin-right:10%;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



.w-header{ height:72px; background:url(../img/topbg_01.jpg) no-repeat center;-webkit-background-size: cover; background-size: cover;}
.w-nav-off-left{ padding-left:15px !important;}
.w-self-box{ box-shadow:0 0 0px #CCCCCC;}
.logotxt{ float:left;}
.login_ul{ float:right;}
.w-header-top{ height:72px;}
.login_ul li{float:right; color:#fff; font-size:22px; height:72px; padding:16px 20px; margin-bottom:0 !important; background:url(../img/jbk_03.png) no-repeat right center;}
.login_ul>.no_border{ background:none;}
.login_ul li span{top: 4px; margin-left:10px;}
.logotxt a{ color:#fff;}
.logotxt h3{ color:#fff;margin-left: 22px;}
.w-header-top>.row,.w-header-top .col-xs-12{ height:72px;}
.logotxt a:hover{ color:fff !important;}
.w-self-box li{ border-bottom:2px solid #126199;padding: 19px 15px;font-size: 18px; background:#0f4f7d; color:#fff; box-shadow:0 0 5px #0b3c63;　}
.w-self-box li span{ float:right;font-size: 16px; margin-top: 5px;}
.nav>li>a {padding: 19px 15px;font-size: 18px;}
.videocont{ background:#fff; min-height:600px !important;}
.bs-example td{word-break:break-all;}

.w-video-return{ font-size:30px; margin:40px 0 20px; color:#979797;}
.w-video-div{ background:#333333; margin:0 auto; width:400px; height:300px; margin-bottom:30px;}

.w-video-seconf{ border-bottom:2px solid #042947;font-size: 16px; background:#063359; color:#83b5da; box-shadow:0 0 5px #0b3c63;　}
.w-video-seconf.click{ background:#2f99c8; color:#fff;}
.w-cont-from .form-group{ margin-right:20px !important;}
