<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
        <!-- 命名空间 -->
    <typeAliases>
         <typeAlias alias="tabUser" type="com.btvpyp.system.model.TabUser"/>
         <typeAlias alias="tabSample" type="com.btvpyp.sample.model.TabSample"/>
         <typeAlias alias="tabSampleMatch" type="com.btvpyp.sampleMatch.model.TabSampleMatch"/>
         <typeAlias alias="tabAdvTypes" type="com.btvpyp.advType.model.TabAdvTypes"/>
         <typeAlias alias="tabOperLog" type="com.btvpyp.system.model.TabOperLog"/>
         <typeAlias alias="tabBroadBack" type="com.btvpyp.broadBack.model.TabBroadBack"/>
         <typeAlias alias="tabBroadBackGD" type="com.btvpyp.broadBack.model.TabBroadBackGD"/>
         <typeAlias alias="tabMenu" type="com.btvpyp.system.model.TabMenu"/>
         <typeAlias alias="tabBfdLoad" type="com.btvpyp.broadBack.model.TabBfdLoad"/>
         <typeAlias alias="tabDetail" type="com.btvpyp.detail.model.TabDetail"/>
    </typeAliases>
 
    <!-- 映射map -->
    <mappers>
    	
    </mappers>
</configuration>